<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<title>SIGECUC-TIC</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="http://bootstraptaste.com" />
<!-- css -->
<link href="{% static "index/css/bootstrap.min.css" %}" rel="stylesheet" />
<link href="{% static "index/css/fancybox/jquery.fancybox.css" %}" rel="stylesheet">
<link href="{% static "index/css/jcarousel.css" %}" rel="stylesheet" />
<link href="{% static "index/css/flexslider.css" %}" rel="stylesheet" />
<link href="{% static "index/css/style.css" %}" rel="stylesheet" />


<!-- Theme skin -->
<link href="{% static "index/skins/default.css" %}" rel="stylesheet" />

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<div id="wrapper">
	<!-- start header -->
	<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><span>Sigecuc</span>tic</a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html">inicio</a></li>
                        <li class="active"><a href="login.html">iniciar sesion</a></li>
                        <li><a href="contact.html">Contactenos</a></li>
                        <li><a href="contact.html">Quienes Somos</a></li>
                    </ul>
                </div>
            </div>
        </div>
	</header>
	<!-- end header -->
	<section id="featured">
	<!-- start slider -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="{% static "index/img/slides/1.jpg" %}" alt="" />
                <div class="flex-caption">
                    <h3>Cursos</h3> 
					<p>Incribete a los cursos ofrecidos por el CIERSUR para formacioón TIC y conviertete en Leader Teacher</p> 
					<a href="#" class="btn btn-theme">ver mas</a>
                </div>
              </li>
              <li>
                <img src="{% static "index/img/slides/2.jpg" %}" alt="" />
                <div class="flex-caption">
                    <h3>Master Teacher</h3> 
					<p>Administra tu perfil de usuario, consulta información de cursos, cohortes y calificaciones</p> 
					<a href="#" class="btn btn-theme">ver mas</a>
                </div>
              </li>
              <li>
                <img src="{% static "index/img/slides/3.jpg" %}" alt="" />
                <div class="flex-caption">
                    <h3>Leader Teacher</h3> 
					<p>Consulta tu información personal, revisa tus calificaciones y certificados obtenidos en cada curso</p> 
					<a href="#" class="btn btn-theme">ver mas</a>
                </div>
              </li>
            </ul>
        </div>
	<!-- end slider -->
			</div>
		</div>
	</div>	
	</section>

	<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="big-cta">
					<div class="cta-text">
						<h2><span>{% block title %}{% endblock%}</span> <br>{% block sub_title %} {% endblock %}</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>

	<!--Complete body-->
	<section id="content">
	<div class="container">

		<!--Fisrt body-->
		<div class="row">
			<div class="col-lg-12">
				<div class="row">

					{% block first_body %}{% endblock %}

				</div>
			</div>
		</div>

		<!--Line divide the first body to the second body-->
		<!-- divider -->
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->


		<!-- Second body-->
		<div class="row">
			<div class="col-lg-12">
				<h4 class="heading">{% block second_body_title %}{% endblock %}</h4>
				<div class="row">
					<section id="projects">
					{% block second_body %}{% endblock %}
					</section>
				</div>
			</div>
		</div>

		<!-- end second body -->

	</div>
	</section>
	<!-- end complete body -->

	<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Get in touch with us</h5>
					<address>
					<strong>Moderna company Inc</strong><br>
					 Modernbuilding suite V124, AB 01<br>
					 Someplace 16425 Earth </address>
					<p>
						<i class="icon-phone"></i> (123) 456-7890 - (123) 555-7891 <br>
						<i class="icon-envelope-alt"></i> email@domainname.com
					</p>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Pages</h5>
					<ul class="link-list">
						<li><a href="#">Press release</a></li>
						<li><a href="#">Terms and conditions</a></li>
						<li><a href="#">Privacy policy</a></li>
						<li><a href="#">Career center</a></li>
						<li><a href="#">Contact us</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Latest posts</h5>
					<ul class="link-list">
						<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
						<li><a href="#">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
						<li><a href="#">Natus error sit voluptatem accusantium doloremque</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Flickr photostream</h5>
					<div class="flickr_badge">
						<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=34178660@N03"></script>
					</div>
					<div class="clear">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						<p>
							<span>&copy; Moderna 2014 All right reserved. By </span><a href="http://bootstraptaste.com" target="_blank">Bootstraptaste</a>
						</p>
					</div>
				</div>
				<div class="col-lg-6">
					<ul class="social-network">
						<li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	</footer>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static "index/js/jquery.js" %}"></script>
<script src="{% static "index/js/jquery.easing.1.3.js" %}"></script>
<script src="{% static "index/js/bootstrap.min.js" %}"></script>
<script src="{% static "index/js/jquery.fancybox.pack.js" %}"></script>
<script src="{% static "index/js/jquery.fancybox-media.js" %}"></script>
<script src="{% static "index/js/google-code-prettify/prettify.js" %}"></script>
<script src="{% static "index/js/portfolio/jquery.quicksand.js" %}"></script>
<script src="{% static "index/js/portfolio/setting.js" %}"></script>
<script src="{% static "index/js/jquery.flexslider.js" %}"></script>
<script src="{% static "index/js/animate.js" %}"></script>
<script src="{% static "index/js/custom.js" %}"></script>
</body>
</html>