<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %}
	Cursos Disponibles
{% endblock%}

{% block first_body %}
	
	<!--Cursos disponibles -->
	{% for curso in cursos %}
	<div class="col-lg-3">
		<div class="box">
			<div class="box-gray aligncenter">
				<h4>{{ curso.nombre }}</h4>
				<div class="icon">
				<i class="fa fa-edit fa-3x"></i>
				</div>
				<p>
				 	{{ curso.descripcion }}
				</p>
					
			</div>
			<div class="box-bottom">
				<a href="inscripcion/?id_course={{ curso.id }}&name_course={{ curso.nombre }}">Inscribirme</a>
			</div>
		</div>
	</div>
	{% endfor %}

{% endblock %}				
			

