<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
</head>
<body>

<table>
<tr>
  <td><strong>Nombre</strong></td>
  <td><strong>Descripcion</strong></td>
  <td><strong>Estado	</strong></td>
  <td><strong>Inscripcion</strong></td>
</tr>
 
{% for curso in cursos %}
<tr>
  <td>{{ curso.nombre }}</td>
  <td>{{ curso.descripcion }}</td>
  <td>{{ curso.estado }}</td>
  <td><a href="course/?id_course={{ curso.id }}&name_course={{ curso.nombre }}">Inscripcion</a></td>
</tr>
{% endfor %}

</body>
</html>
