<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% extends "inscripcion_base.html" %}
{% load static %}

{% block first_title %} Nuevo Aspirante {% endblock %}

{% block _title %} Formulario de incripcion al curso {% endblock%}

{% block sub_title %} {{ name_course }} {% endblock %}

{% block body %}

<form id='contactform' method='post' action=''>{% csrf_token %}

<!-- Parte informacion personal -->
<strong><h3>Informacion Personal</h3></strong>
{% include "division.html" %}
{% for field in form_persona %}
<div class="row">
	<div class="col-lg-4 field">
		{{ field.label_tag }} 
		{{ field }}
		<div class="validation">
		</div>
	</div>
	{% if field.errors %}
	<div class="col-lg-4 field">
			<br><br>
			{{ field.errors }}
	</div>
	{% endif %}
</div>
{% endfor %}


<!-- Parte historial academico -->
<strong><h3>Historial Academico</h3></strong>
{% include "division.html" %}
{% for field in form_HistorialAcademico %}
<div class="row">
	<div class="col-lg-4 field">
		{{ field.label_tag }} 
		{{ field }}
		<div class="validation">
		</div>
	</div>
	{% if field.errors %}
	<div class="col-lg-4 field">
			<br><br>
			{{ field.errors }}
	</div>
	{% endif %}
</div>
{% endfor %}


<!-- Parte historial laboral -->
<strong><h3>Historial Laboral</h3></strong>
{% include "division.html" %}
{% for field in form_HistorialLaboral %}
<div class="row">
	<div class="col-lg-4 field">
		{{ field.label_tag }} 
		{{ field }}
		<div class="validation">
		</div>
	</div>
	{% if field.errors %}
	<div class="col-lg-4 field">
			<br><br>
			{{ field.errors }}
	</div>
	{% endif %}
</div>
{% endfor %}
<p>
<button class="btn btn-theme margintop10 pull-left" type="submit">Continuar</button>
<span class="pull-right margintop20">* Por favor diligencie todos los campos</span>
</p>
</form>
{% endblock%}

