{% extends "leader_teacher.html" %}
{% load static %}
<!-- Contenido -->

<!-- Primer bloque -->
{% block primer_titulo %}

{% endblock %}

{% block primer_contenido %}


<div style="background: url({% static "leader_teacher/certificado.jpg" %}) no-repeat;width:800px;height:600px" >

<div style="position: absolute;  top:  80px; left: 130px">
	<center>Centro de Innovación Educativa Regional de la Región Sur de Colombia</center>
</div>
<div style="position: absolute;  top:  110px; left: 250px">
	Certificado de Asistencia
</div>
<div style="position: absolute;  top:  140px; left: 270px">
	Hace constar que
</div>
<div style="position: absolute;  top:  170px; left: 240px">
	Aurelio Antonio Vivas Meza
</div>
<div style="position: absolute;  top:  200px; left: 235px">
	Asistió al curso de formación
</div>
<div style="position: absolute;  top:  230px; left: 250px">
	Matematicas Discretas
</div>
<div style="position: absolute;  top:  280px; left: 210px">
	Con un promedio acumulado de 4.7
</div>

</div>
<input type="button" name="imprimir" value="Imprimir" onclick="window.print();">

{% endblock %}