{% extends "leader_teacher.html" %}
{% load static %}
<!-- Contenido -->

<!-- Primer bloque -->
{% block primer_titulo %}

{% endblock %}

{% block primer_contenido %}


<div style="background: url({% static "leader_teacher/certificado.jpg" %}) no-repeat;width:800px;height:600px" >
<div style="position: absolute;  top:  80px; left: 130px">
	<h2>Certificado de Asistencia</h2>
</div>
<div style="position: absolute;  top:  300px; left: 130px">
	<h4>Cursos Matematicas Discretas</h4>
</div>
<div style="position: absolute;  top:  350px; left: 130px">
	<h5>Aurelio Antonio Vivas Meza</h5>
</div>
</div>


{% endblock %}