{% extends "leader_teacher.html" %}

<!-- Contenido -->

<!-- Primer bloque -->
{% block primer_titulo %}
Informacion Personal
{% endblock %}

{% block primer_contenido %}
<form id='contactform' method='post' action=''>{% csrf_token %}
<!--{% include "form_snippets.html" %}-->
{% for field in form_personaLeaderTeacher %}
<div class="row">
	<div class="col-lg-4 field">
		{{ field.label_tag }} 
		{{ field }}
		<div class="validation">
		</div>
	</div>
	{% if field.errors %}
	<div class="col-lg-4 field">
			<br><br>
			{{ field.errors }}
	</div>
	{% endif %}
</div>
{% endfor %}
<button class="btn btn-theme margintop10 pull-left" type="submit">Guardar</button>
</form>
{% endblock %}



<!-- Fin Primer bloque -->

<!-- Fin Contenido -->
