{% extends "leader_teacher.html" %}

<!-- Contenido -->

<!-- Primer bloque -->
{% block primer_titulo %}
Calificaciones
{% endblock %}

{% block primer_contenido %}

{% include "division.html" %}
<table>
<tr> <td>Nombre Curso&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
	 <td>Fecha finalizacion </td>
 </tr>
{% for cursos_calificados in leader_teacher.cohorte.all %}
<tr>

	<td> <a href="leader_teacher_descripcion_calificacion/?id_cohorte={{ cursos_calificados.id }}">
	{{ cursos_calificados.curso.nombre }}</a>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


	<td> <a href="{% url "leaderTeacher:hola" cursos_calificados.id %}">Link</a>
	</td>

	<td> 
	{{ cursos_calificados.fecha_fin }}
	</td>
</tr>
{% endfor %}
</table>
{% endblock %}


<!-- Fin Primer bloque -->

<!-- Fin Contenido -->