{% extends "cuenta_base.html" %}
{% block primer_menu_titulo %}
Datos de usuario
{% endblock %}
{% block primer_menu_item %}
<li><i class="icon-angle-right"></i>
<a href="{% url "masterTeacher:master_teacher_informacion_personal" %}">Informacion Personal</a><span></span></li>
<li><i class="icon-angle-right"></i><a href="/accounts/password_change">Cambiar password</a></li>
{% endblock %}

{% block segundo_menu_titulo %}
Cursos/Cohortes
{% endblock %}
{% block segundo_menu_item  %}
{% for cohorte in cohortes %}
<li><i class="icon-angle-right"></i>
<a href="{% url "masterTeacher:master_teacher_actividades_evaluacion" cohorte.id %}">
{{ cohorte.id }} 
{{ cohorte.curso.nombre }}</a><span></span></li>
{% endfor %}
{% endblock %}

{% block tercer_menu_titulo %}
Asistencias
{% endblock %}
{% block tercer_menu_item  %}
{% for cohorte in cohortes %}
<li><i class="icon-angle-right"></i>
<a href="{% url "masterTeacher:master_teacher_actividades_evaluacion" cohorte.id %}">
{{ cohorte.id }} 
{{ cohorte.curso.nombre }}</a><span></span></li>
{% endfor %}
{% endblock %}

<!-- Contenido -->

<!-- Primer bloque -->
{% block primer_titulo %}
{{ titulo }}
{% endblock %}

{% block primer_contenido %}
{{ mensaje }}
{% endblock %}

{% block primer_boton %}
{% endblock %}
<!-- Fin Primer bloque -->

<!-- Fin Contenido -->


