{% extends "master_teacher.html" %}

<!-- Contenido -->

<!-- Primer bloque -->
{% block primer_titulo %}
Actividades de Evaluacion
{% endblock %}

{% block primer_contenido %}

<h3>Nombre curso: </h3> {{ curso.nombre }}</br>
<h4>Cohorte Numero: {{ cohorte.id}}</h4>  
<h4>Fecha inicio: {{ cohorte.fecha_inicio}} Fecha fin: {{ cohorte.fecha_fin}}</h4>  

{% include "division.html" %}

<div class="CSSTableGenerator" >
<table>
	<tr>
		<td>
		Calificaciones
		</td>
	
		{% for actividad in curso.actividad_evaluacion.all %}
		<td>
			{{ actividad.descripcion }}
		</td>
		{% endfor %}
	</tr>

	{% for estudiante in estudiantes %}
	<tr>
		<td>

		{{ estudiante.inscrito.persona.identificacion }}
		{{ estudiante.inscrito.persona.primer_nombre }}
		{{ estudiante.inscrito.persona.segundo_nombre }}
		{{ estudiante.inscrito.persona.primer_apellido }}
		{{ estudiante.inscrito.persona.segundo_apellido }}
			
		</td>
		{% for actividad in curso.actividad_evaluacion.all %}
		<td>
			<input type="text" name="{{ estudiante.inscrito.persona.identificacion }}" size="3" maxlength="3">
		</td>
		{% endfor %}
	</tr>
	{% endfor %}

</table>
</div>




{% endblock %}

<!-- Fin Primer bloque -->

<!-- Fin Contenido -->