{% extends "master_teacher.html" %}

<!-- Contenido -->
<!--META-->
<head>
<!--SCRIPTS-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<script type="text/javascript" src="vanadium.js"></script>

</head>
<!-- Primer bloque -->
{% block primer_titulo %}
Actividades de Evaluacion
{% endblock %}

{% block primer_contenido %}

<h3>Nombre curso: </h3> {{ curso.nombre }}</br>
<h4>Cohorte Numero: {{ cohorte.id}}</h4>  
<h4>Fecha inicio: {{ cohorte.fecha_inicio}} Fecha fin: {{ cohorte.fecha_fin}}</h4>  

{% include "division.html" %}

{%if mensaje %}
{{ mensaje }}

{% else %}
<form  method='post' action=''>{% csrf_token %}

<div>
<div class="row">
			    <div class="col-md-12 ui-sortable">
			        
                    <div style="" class="panel panel-inverse">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                
                            </div>
                            <h4 class="panel-title">Calificaciones</h4>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Estudiantes</th>
                                        {% for actividad in curso.actividad_evaluacion.all %}
                                        <th>{{ actividad.nombre }}</th>
                                  		{% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                	{% for estudiante , calificaciones_estudiante in estudiantes_calificaciones %}
                                    <tr>
                                        <td>
                                        	{{ estudiante.inscrito.persona.identificacion }}
											{{ estudiante.inscrito.persona.primer_nombre }}
											{{ estudiante.inscrito.persona.segundo_nombre }}
											{{ estudiante.inscrito.persona.primer_apellido }}
											{{ estudiante.inscrito.persona.segundo_apellido }}

                                        </td>
                                        {% if validador == False %}
											{% for actividad in curso.actividad_evaluacion.all %}
												<td>
													<input  type="text" name="{{ estudiante.inscrito.persona.identificacion }}#{{ actividad.id }}" 
													id="{{ estudiante.inscrito.persona.identificacion }}#{{ actividad.id }}" class=":float" size="3" maxlength="3" 
													value = "" >
												</td>
											{% endfor %}
										{% endif %}	


										{% if validador == True %}
												{% for calificacion in calificaciones_estudiante %}
												<td>
													<input type="text" 
													name="{{ estudiante.inscrito.persona.identificacion }}#{{ calificacion.actividad.id }}" 
													id="{{ estudiante.inscrito.persona.identificacion }}#{{ calificacion.actividad.id }}" class=":float"  size="3"
													maxlength="3"value = "{{ calificacion.nota_actividad }}" >
												</td>
												{% endfor %}
										{% endif %}	
                                       
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
			    </div>
			    </div>
</div>


{% include "division.html" %}
<p>
<button class="btn btn-theme margintop10 pull-left" type="submit">Guardar Calificacion</button>
</p>
</form>


{% endif %}
{% endblock %}

<!-- Fin Primer bloque -->

<!-- Fin Contenido -->