{% extends "principal.html" %}
{% load static %}
<!-- Contenido -->


<!-- Segundo bloque -->
{% block segundo_titulo %} 
Cursos con menos potencial de avance
{% endblock %}

{% block segundo_contenido %}



<script src="{% static "reportes/graficas/Chart.min.js" %}" type="text/javascript">
</script>
<script src="{% static "index/js/jquery.min.js" %}" type="text/javascript"></script>

<script type="text/javascript">
$( document ).ready(function() {
//alert({{ labels }})

//Inicion diagrama barras
var parametros_labels = {{ labels_bar|safe }};
var data = {
    labels:  parametros_labels ,
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(151,187,205,0.5)",
            strokeColor: "rgba(151,187,205,0.8)",
            highlightFill: "rgba(151,187,205,0.75)",
            highlightStroke: "rgba(151,187,205,1)",
            data: {{ datos_bar }}
        },
        
    ]

};


var ctx = document.getElementById("myChart").getContext("2d");
// var myLineChart = new Chart(ctx).Line(data);
var myBarChart = new Chart(ctx).Bar(data);
//Fin diagrama barras

//Inicio diagrama de torta
var datos_doughnut = {}
var labels_doughnut_from_django = {{ labels_doughnut | safe }}
var colors_doughnut_from_django = {{ colors_doughnut | safe }}
var datos_doughnut_from_django = {{ datos_doughnut }}
for (var i = 0; i < datos_doughnut_from_django.length; i++) {
    datos_doughnut[i] = {
        value:datos_doughnut_from_django[i],
        color:colors_doughnut_from_django[i],
        highlight: "#E0F2F7",
        label:labels_doughnut_from_django[i]
    }
};




var ctx_pie = document.getElementById("pie_chart").getContext("2d");
var myDoughnutChart = new Chart(ctx_pie).Doughnut(datos_doughnut,{});

   
});
</script>


<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed in">
		    <!-- begin row -->
		    <div class="row">
		        <!-- begin col-4 -->
		        <div class="col-md-4 ui-sortable">
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                            </div>
                            <h4 class="panel-title">Bar Chart</h4>
                        </div>
                        <div class="panel-body">
                            <div style="padding: 0px; position: relative;" id="bar-chart" class="height-sm">
                            
                            <canvas id="myChart" width="500" height="300"></canvas>
                            
                            </div>
                        </div>
                    </div>
		        </div>
		  </div>
		        
		        
		        
		  <div class="row">
		        <div class="col-md-4 ui-sortable">
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                            </div>
                            <h4 class="panel-title">Pie Chart</h4>
                        </div>
                        <div class="panel-body">
                            <div style="padding: 0px; position: relative;" id="interactive-pie-chart" class="height-sm">
                            
                             <canvas id="pie_chart" width="500" height="300"></canvas>
                           
                            </div>
                        </div>
                    </div>
		        </div>
		        <!-- end col-4 -->
		    </div>
		    <!-- end row -->
		    <!-- begin row -->
		    
		    <!-- end row -->
		
		<!-- end #content -->
		
        <!-- begin theme-panel -->
        
        <!-- end theme-panel -->
		
		<!-- begin scroll to top btn -->
		
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->




{% endblock %}

{% block primer_boton %}

{% endblock %}
<!-- Fin Primer bloque -->

<!-- Fin Contenido -->