{% extends "reportes_base.html" %}


{% block primer_menu_titulo %}
Tablas
{% endblock %}
{% block primer_menu_item %}
<li><i class="icon-angle-right"></i><a href="{% url "reportes:reporte1" %}">Notas por Estudiantes</a><span></span></li>
<li><i class="icon-angle-right"></i><a href="{% url "reportes:reporte2" %}">Historico Estudiante Cursos Aprobados</a></li>
<li><i class="icon-angle-right"></i><a href="{% url "reportes:reporte3" %}">Estudiantes en Cursos por Departamento</a></li>
{% endblock %}

{% block segundo_menu_titulo %}
Graficos
{% endblock %}
{% block segundo_menu_item  %}
<li><i class="icon-angle-right"></i><a href="{% url "reportes:reporte4" %}">Cursos Mayor Numero Asistentes (Top10)</a><span></span></li>
<li><i class="icon-angle-right"></i><a href="{% url "reportes:reporte5" %}">Estudiantes que han llegado por Departamento</a></li>
<li><i class="icon-angle-right"></i><a href="{% url "reportes:reporte6" %}">Cursos Menor Portencia de Avance (Top5)</a></li>
<li><i class="icon-angle-right"></i><a href="#">Porsentaje de Estudiantes Aprovaron Curso por Semestre</a><span></span></li>
<li><i class="icon-angle-right"></i><a href="#">Porsentaje de Estudiantes Reprovaron Curso por Semestre</a><span></span></li>
{% endblock %}


{% block primer_titulo %}{% endblock %}
{% block primer_contenido %}{% endblock %} 
{% block segundo_titulo %}{% endblock %}
{% block segundo_contenido %}{% endblock %}






