{% extends "principal.html" %}

<!-- Contenido -->

<!-- Primer bloque -->
{% block primer_titulo %}
Estudiantes en curso por departamento
{% endblock %}

{% block primer_contenido %}

{% include "division.html" %}


<form  id='contactform' method='post' action=''>{% csrf_token %}
<label>Por favor seleccione el departamento de interes</label>
<select name="id_curso">
{% for curso in cursos %}
  <option value="{{ curso.id }}">{{ curso.nombre}}</option>
 {% endfor %}
</select>

<p>
<button class="btn btn-theme margintop10 pull-left" type="submit">Consultar</button>
</p>
</form>

{% endblock %}

{% block primer_boton %}

{% endblock %}
<!-- Fin Primer bloque -->

<!-- Fin Contenido -->