{% extends "cuenta_base.html" %}

<!--Menu 1-->
{% block first_menu_title %}
Menu
{% endblock %}
{% block first_menu_item %}
<li><i class="icon-angle-right"></i><a href="#">Informacion Personal</a><span></span></li>
{% endblock %}
<!--Fin Menu 1-->

<!--Menu 2-->
{% block second_menu_title %}
Curso Actual
{% endblock %}
{% block second_menu_item  %}
<li><i class="icon-angle-right"></i><a href="#">Informacion Curso</a><span></span></li>
<li><i class="icon-angle-right"></i><a href="#">Calificaciones</a><span></span></li>
{% endblock %}
<!--Fin Menu 2 -->

<!--Menu 3-->
{% block third_menu_title %}
Cursos
{% endblock %}
{% block third_menu_item  %}
<li><i class="icon-angle-right"></i><a href="#">Historial Cursos</a><span></span></li>
<li><i class="icon-angle-right"></i><a href="#">Certificados Obtenidos</a><span></span></li>
{% endblock %}
<!--Fin Menu 3 -->

<!-- Primer bloque -->
{% block primer_titulo %}
Titulo 1
{% endblock %}

{% block primer_contenido %}
Contenido 1
{% endblock %}

{% block primer_boton %}
Boton 1
{% endblock %}
<!-- Fin Primer bloque -->

<!-- Segundo bloque -->
{% block segundo_titulo %}
Titulo 2
{% endblock %}

{% block segundo_bloque %}
Contenido 2
{% endblock %}

{% block segundo_boton %}
Boton 2
{% endblock %}
<!-- Fin Segundo bloque -->