{% extends "cuenta_base.html" %}

<!--Menu 1-->
{% block first_menu_title %}
Menu
{% endblock %}
{% block first_menu_item %}
<li><i class="icon-angle-right"></i><a href="leader_teacher_informacion_personal">Informacion Personal</a><span></span></li>
{% endblock %}
<!--Fin Menu 1-->

<!--Menu 2-->
{% block second_menu_title %}
Curso Actual
{% endblock %}
{% block second_menu_item  %}
<li><i class="icon-angle-right"></i><a href="leader_teacher_informacion_curso">Informacion Curso</a><span></span></li>
<li><i class="icon-angle-right"></i><a href="leader_teacher_calificaciones">Calificaciones</a><span></span></li>
{% endblock %}
<!--Fin Menu 2 -->

<!--Menu 3-->
{% block third_menu_title %}
Cursos
{% endblock %}
{% block third_menu_item  %}
<li><i class="icon-angle-right"></i><a href="leader_teacher_historial_academico">Historial Academico</a><span></span></li>
<li><i class="icon-angle-right"></i><a href="leader_teacher_certificados_obtenidos">Certificados Obtenidos</a><span></span></li>
{% endblock %}
<!--Fin Menu 3 -->

<!-- Primer bloque -->
{% block primer_titulo %}
{{ titulo }}
{% endblock %}

{% block primer_contenido %}
{{ formulario.as_p }}
{% endblock %}

{% block primer_boton %}
{{ nombre_boton }}
{% endblock %}
<!-- Fin Primer bloque -->

