{% extends "cuenta_base.html" %}
{% block menu_title %}
Menu
{% endblock %}
{% block menu_item %}
<li><i class="icon-angle-right"></i><a href="#">Informacion Personal</a><span></span></li>

{% endblock %}

{% block submenu_title %}
Cohorte
{% endblock %}
{% block submenu_item  %}
<li><i class="icon-angle-right"></i><a href="#">Actividades de Evaluacion</a><span></span></li>
<li><i class="icon-angle-right"></i><a href="#">Estudiantes</a><span></span></li>
<li><i class="icon-angle-right"></i><a href="#">Calificar Estudiantes</a><span></span></li>
{% endblock %}


<!-- Primer bloque -->
{% block primer_titulo %}
{% if form  %}
	
{% endif %}
Titulo 1
{% endblock %}

{% block primer_contenido %}
{{ form.as_p }}
{% endblock %}

{% block primer_boton %}
Boton 1
{% endblock %}
<!-- Fin Primer bloque -->

<!-- Segundo bloque -->
{% block segundo_titulo %}
Titulo 2
{% endblock %}

{% block segundo_bloque %}
Contenido 2
{% endblock %}

{% block segundo_boton %}
Boton 2
{% endblock %}
<!-- Fin Segundo bloque -->

