{% extends "cuenta_base.html" %}
{% block primer_menu_titulo %}
Menu
{% endblock %}
{% block primer_menu_item %}
<li><i class="icon-angle-right"></i><a href="master_teacher_informacion_personal">Informacion Personal</a><span></span></li>

{% endblock %}

{% block segundo_menu_titulo %}
Cursos
{% endblock %}
{% block segundo_menu_item  %}
{% for cohorte in cohortes %}
<li><i class="icon-angle-right"></i><a href="master_teacher_actividades_evaluacion/?id_cohorte={{ cohorte.id  }}">{{ cohorte.id }} 
{{ cohorte.curso.nombre }}</a><span></span></li>
{% endfor %}
<li><i class="icon-angle-right"></i><a href="master_teacher_estudiantes">Estudiantes</a><span></span></li>
{% endblock %}

<!-- Contenido -->

<!-- Primer bloque -->
{% block primer_titulo %}
{{ titulo }}
{% endblock %}

{% block primer_contenido %}
{{ mensaje }}
{% endblock %}

{% block primer_boton %}
{% endblock %}
<!-- Fin Primer bloque -->

<!-- Fin Contenido -->


