{% extends "cuenta_base.html" %}
{% block first_menu_title %}
Menu
{% endblock %}
{% block first_menu_item %}
<li><i class="icon-angle-right"></i><a href="master_teacher/informacion_personal">Informacion Personal</a><span></span></li>

{% endblock %}

{% block second_menu_title %}
Cohorte Actual
{% endblock %}
{% block second_menu_item  %}
<li><i class="icon-angle-right"></i><a href="master_teacher/actividades_evaluacion">Actividades de Evaluacion</a><span></span></li>
<li><i class="icon-angle-right"></i><a href="master_teacher/estudiantes">Estudiantes</a><span></span></li>
{% endblock %}


<!-- Primer bloque -->
{% block primer_titulo %}
Titulo 1
{% endblock %}

{% block primer_contenido %}
Contenido 1
{% endblock %}

{% block primer_boton %}
Boton 1
{% endblock %}
<!-- Fin Primer bloque -->

<!-- Segundo bloque -->
{% block segundo_titulo %}
Titulo 2
{% endblock %}

{% block segundo_bloque %}
Contenido 2
{% endblock %}

{% block segundo_boton %}
Boton 2
{% endblock %}
<!-- Fin Segundo bloque -->

