{% extends "cuenta_base.html" %}

{% if mensaje %}
{{ mensaje }}
{% else %}

{% block primer_menu_titulo %}
Datos de usuario
{% endblock %}
{% block primer_menu_item %}
<li><i class="icon-angle-right"></i>
<a href="{% url "registro:informacion_personal_registro" %}">Informacion personal</a><span></span></li>
<a href="/accounts/password_change">Cambiar contraseña</a><span></span></li>
{% endblock %}

{% block segundo_menu_titulo %}
Registro academico
{% endblock %}
{% block segundo_menu_item  %}
<li><i class="icon-angle-right"></i>
<li><i class="icon-angle-right"></i><a href="{% url "registro:cohorte" %}">Crear cohorte</a><span></span></li>
<a href="{% url "registro:registrar_master_teacher" %}">Registrar Master Teacher</a><span></span></li>

{% endblock %}

<!-- Contenido -->

<!-- Primer bloque -->
{% block primer_titulo %}
{{ titulo }}
{% endblock %}

{% block primer_contenido %}
<p>
<strong>
{{ mensaje }}
</strong>
<p>
{% endblock %}

{% block primer_boton %}
{% endblock %}
<!-- Fin Primer bloque -->

<!-- Fin Contenido -->
{% endif %}