{% extends "cuenta_base.html" %}

{% if mensaje %}
{{ mensaje }}
{% else %}

{% block primer_menu_titulo %}
Matricula
{% endblock %}
{% block primer_menu_item %}
<li><i class="icon-angle-right"></i><a href="#">Matricular Leader Teacher</a><span></span></li>
{% endblock %}

{% block segundo_menu_titulo %}
Registro
{% endblock %}
{% block segundo_menu_item  %}
<li><i class="icon-angle-right"></i><a href="#">Registrar Master Teacher</a><span></span></li>
<li><i class="icon-angle-right"></i><a href="#">Asignar Master Teacher Cohorte</a><span></span></li>
{% endblock %}

<!-- Contenido -->

<!-- Primer bloque -->
{% block primer_titulo %}
{{ titulo }}
{% endblock %}

{% block primer_contenido %}
{{ mensaje }}
{% endblock %}

{% block primer_boton %}
{% endblock %}
<!-- Fin Primer bloque -->

<!-- Fin Contenido -->
{% endif %}